</div>
<!-- end container -->

<!-- begin footer -->
<nav class="navbar navbar-fixed-bottom">
	<p class="navbar-text">&copy; {{ site.time | date: '%Y' }} FluxBB Group <br/>
	<a href="{{ site.baseurl }}">Home</a> &bull; <a href="{{ site.baseurl }}/about">About FluxBB</a>
	&bull; <a href="{{ site.baseurl }}/download">Download FluxBB</a> &bull; <a href="{{ site.baseurl }}/support">Support</a> 
	&bull; <a href="{{ site.baseurl }}/about/license">License Agreement</a> 
	&bull; <a href="{{ site.baseurl }}/contact">Contact FluxBB Group</a></p>
</nav>
<!-- end footer -->

</body>

</html>