---
layout: default
section: get-involved
subsection: development

title: Development
description: |
 FluxBB is under active, continuous development under the guidance of the 
 <a href="!SITE_BASEURL!/about/team">development team</a>. We use <a href="http://github.com/fluxbb">GitHub</a> to offer public 
 access to our development allowing the community to contribute to the project. You can contribute by testing the latest source 
 code, reporting issues, and forking the project.
meta_description: Find out how to get involved with the best forum software through development, resources, support, and security research.
---

<div class="row">

	
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	
	<h3>FluxBB on GitHub <small>Follow development, get the source, test the code, and contribute</small></h3>

	<p>FluxBB uses GitHub to maintain its development repositories, allowing you to follow development and download the latest 
	source code to test and report issues.</p>

	<a href="http://github.com/fluxbb">Visit FluxBB on GitHub -></a><br/>
	
	<p class="githubButtons"><iframe style="border: none; width: 95px; height: 20px;" src="http://ghbtns.com/github-btn.html?user=fluxbb&amp;repo=fluxbb&amp;type=watch&amp;count=true"></iframe>
	<iframe style="border: none; width: 95px; height: 20px;" src="http://ghbtns.com/github-btn.html?user=fluxbb&amp;repo=fluxbb&amp;type=fork&amp;count=true"></iframe></p>
	
	<h3>Development Discussion <small>Community contributors can participate in the planning FluxBB's future</small></h3>

	<p>FluxBB maintains a set of Development forums on the FluxBB Community Forums to allow all FluxBB users to report bugs and 
	issues with their forums, make suggestions for features to be included in future releases, and view discussions related to 
	FluxBB development. Additionally, active community members can get involved with development discussions by joining a 
	special Contributors group on the FluxBB Community Forums.</p>

	<a href="">Development discussions on the FluxBB Community Forums -></a>

	<h3>Reporting Bugs and Issues <small>Help FluxBB find and resolve issues with the software</small></h3>

	<p>When you experience a problem with your FluxBB forum, it's important you report the issue so the FluxBB team can 
	investigate the issue and fix the issue if necessary. Bug reports can be created using your FluxBB Community account in the 
	bug reports forum for the appropriate version of FluxBB within the Development category on the FluxBB Community Forums.</p>

	<a href="">More information on reporting bugs and issues -></a>

	<h3>Development Workflow <small>FluxBB uses a workflow to manage how development occurs on GitHub</small></h3>

	<p>To help streamline the coordination of development between FluxBB team members and members of the FluxBB community, 
	FluxBB follows a documented workflow for the development of all of its products, including FluxBB 1.4, 1.5, 2.0, and 
	the FluxBB Merge System.</p>

	<a href="">More information on FluxBB's development workflow -></a>
	
	</div>
	
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	
		<div class="panel panel-default">
		
			<div class="panel-heading">
				<h3 class="panel-title">Get Involved</h3>
			</div>
			<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				<li {% if page.subsection == "development" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/development">Development</a></li>
				<li {% if page.subsection == "resources" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/resources">Resources</a></li>
				<li {% if page.subsection == "support" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/support">Support</a></li>
				<li {% if page.subsection == "security" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/security">Security Research</a></li>
			</ul>
			</div>
			
		</div>
		
		<div class="panel panel-default">
		
			<div class="panel-heading">
				<h3 class="panel-title">Development Resources</h3>
			</div>
			<div class="panel-body">
			
			
			</div>
		
		</div>
		
		
	</div>

</div>