---
layout: default
section: get-involved
subsection: resources

title: Resources
description: |
  One of the primary goals of FluxBB's resources team is to maintain FluxBB's official documentation and manage third-party 
  language translations. Through GitHub, you can contribute to both the official documentation and by translating FluxBB to 
  additional languages.
meta_description: Find out how to get involved with the best forum software through development, resources, support, and security research.
---

<div class="row">

	
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	
	<h3>FluxBB Documentation <small>Contribute to the FluxBB Documentation using GitHub</small></h3>

	<p>FluxBB uses a GitHub repository to manage the official FluxBB Documentation, allowing FluxBB users and staff to easily 
	collaborate and contribute to the documentation. To make contributions, you just need to fork the fluxbb-resources repository,
	add or update pages, push the changes to your forked repository, then send a pull request for review. Once the pull request 
	is approved, your changes will be merged into the official FluxBB Documentation.</p>

	<p>More information on making contributions to the documentation is available on the 
	<a href="http://github.com/xaoseric/fluxbb-resources">FluxBB Documentation</a> repository on GitHub.</p>

	
	</div>
	
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	
		<div class="panel panel-default">
		
			<div class="panel-heading">
				<h3 class="panel-title">Get Involved</h3>
			</div>
			<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				<li {% if page.subsection == "development" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/development">Development</a></li>
				<li {% if page.subsection == "resources" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/resources">Resources</a></li>
				<li {% if page.subsection == "support" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/support">Support</a></li>
				<li {% if page.subsection == "security" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/security">Security Research</a></li>
			</ul>
			</div>
			
		</div>
		
		<div class="panel panel-default">
		
			<div class="panel-heading">
				<h3 class="panel-title">Development Resources</h3>
			</div>
			<div class="panel-body">
			
			</div>
		
		</div>
		
		
	</div>

</div>