---
layout: default
section: get-involved
subsection: support

title: Support
description: |
  FluxBB has a support team dedicated to helping users fix problems with their forums. If you have extensive experience with 
  FluxBB, however, additional help is always welcome and encouraged! Some basic guidelines on providing support are provided below.
meta_description: Find out how to get involved with the best forum software through development, resources, support, and security research.
---

<div class="row">

	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	
		<div class="panel panel-default">
		
			<div class="panel-heading">
				<h3 class="panel-title">Get Involved</h3>
			</div>
			<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				<li {% if page.subsection == "development" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/development">Development</a></li>
				<li {% if page.subsection == "resources" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/resources">Resources</a></li>
				<li {% if page.subsection == "support" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/support">Support</a></li>
				<li {% if page.subsection == "security" %} class="active" {% endif %}><a href="{{ site.baseurl }}/get-involved/security">Security Research</a></li>
			</ul>
			</div>
			
		</div>
		
		
	</div>
	
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	
	<h3>FluxBB Support Guidelines <small>Some ground rules for when you're helping FluxBB users</small></h3>

	<p>When you're helping other FluxBB users with their issues, it is important to remember that you only respond 
	<b>if you are comfortable and knowledgable in the topic the user needs help with</b>. If you don't know how to help, 
	it's better to leave the issue for someone who knows an answer than make a guess.</p>

	<p>Beyond that, there are some basic guidelines to keep in mind while providing support to users</p>

	<ul>
		<li><b>Be nice.</b> Many users looking for support are new to FluxBB. There's never a good reason to be rude or 
		condescending, even if a user doesn't understand the help you're giving.</li>
		<li><b>Use proper English.</b> It's important to be clear and concise when providing support. Also, remember that while 
		not all of our users speak English, support provided on the Community Forums is provided in English only.</li>
		<li><b>Don't ask for sensitive information, such as administrative credentials.</b> For the safety of other users, 
		only FluxBB staff members should be trusted with sensitive information.</li>
		<li><b>Give support to help, not for reputation.</b> While getting a positive rating for a post is a nice reward for 
		helping users, you should not expect anything for giving support. Do not get upset if your reputation doesn't get a boost 
		every time you provide support.</li>
	</ul>
	
	</div>

</div>